@require "partial/placeholders"

language_calc(score)
  $width = ((score * 50) / 6)
  $margin = (50 - $width)
  (($width)% ($margin)%)

$languages = {
  portuguese : {
    write : 4,
    speak : 4
  },
  english : {
    write : 2
    speak : 2
  }
}


#card
  overflow auto

  @extend $scrollbar

  .title h1
    padding: 60px
    @extend $title

  .body
    font-size: 20px;
    text-align: justify;
    margin: 0
    padding: 0

    @media (min-width 992px)
      padding: 0 20px
      flex-direction:row

  .description
    margin: 0
    padding 0

  .contact-method
    padding: 0;
    flex-direction: column;
    margin: 0;
    @media(min-width 992px)
      padding: 5px 0
      flex-direction: row;

      span
        padding-left 10px

    img
      width: 28px

  .contact
    padding: 0;
    @media(min-width 992px)
      padding: 15px


  .contact
    padding-top: 30px

  .languages
    padding: 30px 0 60px 0;

  .language
    text-align center

    .icon
      padding: 0 10px

    img
      width: 28px

    .col
      padding:0

    .score
      border 1px solid rgba(42,45,52, .45)
      border-radius 8px
      color: white
      font-weight bold

    .write
      background-color #31969c

    .speak
      background-color #2a688c

    for className, habillityTypes in $languages
      &.{className}
        .write
          $percents = language_calc(habillityTypes[write])
          width: $percents[0]
          margin-left: $percents[1]
        .speak
          width: language_calc(habillityTypes[speak])[0]

  #profile-pic
    padding: 0
    padding-bottom: 60px

    @media(min-width 992px)
      padding-bottom: 0
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

    img
      border-radius 50%
      margin: 0 auto

  .footer
    background-color: $darkgray;

    @media(min-width: 992px) and (min-height 603px)
      position absolute
      width: 100%
      bottom: 0

    button
      background-color: transparent;
      color: white;
      font-size: 20px;
      cursor: pointer;
      border: 0;
      outline: none;
      padding: 15px;
      transition-duration .15s
      width: 100%
      @media(min-width 992px)
        width:unset

      &:hover
        background-color white
        color: $darkgray