#sidebar
{

    background-color: #2F3941;
    color: #ffffff;
    padding-bottom: 20px;

}

@media(min-width: 1200px)
{
    #sidebar
    {

        height: 100vh;
        overflow: auto;

    }
}

#sidebar .line
{
    background-color: #fff;
    height: 1px;
}

#sidebar::-webkit-scrollbar-track
{
    background-color: transparent;
}

#sidebar::-webkit-scrollbar
{
    width: 8px;
}

#sidebar::-webkit-scrollbar-thumb
{
    background-color: rgba(255,255,255,.35);
    border-radius: 5px;
}



#sidebar section
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px !important;
}

#sidebar section .title
{

    font-size: 24px;
    font-weight: normal;

}


/* Profile */
#profile
{

    text-align: center;

}
#profile-details
{
    text-align: center;
}
#profile-pic
{

    width: 180px;
    margin: 40px 0 10px;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.35);
    box-shadow: 5px 5px 10px rgba(0,0,0,.35);
    border: 2px solid rgba(0,0,0,.35);

}

#profile-name
{

    font-size: 28px;
    font-weight: bold;

}

#profile-occupation
{

    font-size: 18px;
    color: #E8CDCD;
    margin-left: 70px;

}
@media (min-width: 1200px){
    #profile-details
    {
        text-align: unset;
    }
}

/* Profile infos */
#profile-infos p
{

    font-size: 18px;
    margin-top: 10px;

}

/* Profile Contacts */
.contact-method
{
    margin-top: 10px;
    float: left;
    width: 100%;
}

.contact-method img
{

    width: 26px;
    float: left;
    margin-right: 3px;

}
.contact-method span
{
    font-size: 18px;
}

#method__email
{
    padding-top: 2px;
}


@media (min-width: 1200px) {

    #sidebar section
    {
        padding: 0 21px !important;
    }
    .contact-method span
    {
        float: left;
        font-size: 17px;
    }

}

/* Profile Languages */
.language
{
    margin-top: 10px;
    width: 100%;
    float: left;
}
.language h2
{
    text-align: center;
    font-weight: normal;
    font-size: 16pt;
}
.language .img
{
    width: 15%;
    float: left;
    padding: 0 10px;
}

.language .percents
{
    float: left;
    width: 70%;
    background-color: #fff;
    border-radius: 6px;
}

.language img
{
    width: 26px;
}

.language .img
{
    text-align: center;
}

.language .percent
{

    float: left;

}

.language .percent span
{

    padding: 0 10px;
    font-size: 14pt;
    float: left;

}

.language .percent-left
{
    background-color: #3CACB1;
}
.language .percent-left span
{
    float: right;
}

.language .percent-right
{
    background-color: #79C841;
}

/* Profile social */
#social-links
{

    margin-top: 10px;

}
#social-links img
{
    width: 42px;
}