#academic .infos, #certifications .infos
{
    padding: 20px 0;
}

#academic .circle::after
{

    background-color: #ffffff;
    border: 6px solid #79C841;

}

#academic .bar::after
{

    background-color: #FF0000;
    height: 30px;

}

#academic .timeline
{
    width: 50px;
}

#academic .details
{
    width: calc(100% - 50px);
}


#academic .details span
{
    padding: 0 20px;
    float: left;
    width: 100%;
}
#academic .details span:first-child
{
    font-size: 18px;
}
#academic .details span:last-child
{
    text-align: left;
}