#certifications .infos, #certifications .infos
{
    padding: 20px 0;
}

#certifications .circle::after
{

    background-color: #ffffff;
    border: 6px solid #FF0000;

}
#certifications .infos .row
{
    margin-bottom: 30px;
}

#certifications .timeline
{
    width: 50px;
}

#certifications .details
{
    width: calc(100% - 50px);
}


#certifications .details span
{
    padding: 0 20px;
    float: left;
    width: 100%;
    color: rgb(33,37,41);
    text-decoration: none;
}
#certifications .details span:first-child
{
    font-size: 18px;
}
#certifications .details span:last-child
{
    text-align: left;
}


#certifications .infos a
{
    float: left;
}

#certifications .infos .more
{
    width: 65%;
    margin-left: 17.5%;
}

#certifications .infos.items-collapsed a
{
    display: none;
}

#certifications .infos.items-collapsed a:nth-child(1), #certifications .infos.items-collapsed a:nth-child(2), #certifications .infos.items-collapsed a:nth-child(3)
{
    display: block;
}