#professional-div
{

    padding: 20px 0;

}

#professional .card-div
{

    z-index: 1;
    float: left;
    width: calc(100% - 110px);

}
#professional .card
{

    margin-top: 25px;
    color: #fff;
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.65);
    box-shadow: 1px 1px 10px rgba(0,0,0,.65);

}

#professional .card .title
{

    color: #fff;
    font-size: 22px;
    padding: 10px 20px;
    font-weight: normal;

}

#professional .card .text
{

    padding: 10px 20px;
    height: 220px;
    overflow: auto;
    font-size: 18px;

}


.y2018-2017 .timeline .bar::after
{

    background-image: -webkit-gradient(linear, left top, left bottom, from(#4A86E8), to(#FF0000))!important;

    background-image: -webkit-linear-gradient(#4A86E8, #FF0000)!important;

    background-image: -o-linear-gradient(#4A86E8, #FF0000)!important;

    background-image: linear-gradient(#4A86E8, #FF0000)!important;

}


.y2018 .card .title, .y2018 .timeline .bar::after
{

    background-color: #4A86E8;

}
.y2018 .timeline .circle::after
{

    background-color: #ffffff;
    border: 6px solid #4A86E8;

}

.y2018 .card .text
{

    background-color: #A5C5F9;

}


.y2017 .card .title, .y2017 .timeline .bar::after
{

    background-color: #FF0000;

}

.y2017 .timeline .circle::after
{

    background-color: #ffffff;
    border: 6px solid #FF0000;

}

.y2017 .card .text
{

    background-color: #FF4D4D;

}



#professional .arrow
{
    width: 60px;
    text-align: right;
    padding-left: 6px;
}

#professional .arrow span
{
    height: 25px;
    float: right;
    font-size: 18px;
    color: rgb(75,75,75);
    font-weight: bold;
}


@media (min-width: 992px) {


    #professional .card-div
    {
        width: calc(50% - 110px);
    }

    #professional .timeline{
        margin-left: calc(50% - 25px);
    }

    #professional .left
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    #professional .left .timeline
    {
        margin-left: 0;
        margin-right: calc(50% - 25px);
    }

    #professional .left .card
    {

        margin-left: 0;

    }

    #professional .left .arrow
    {
        padding-left: 0;
        padding-right: 6px;
    }
    #professional .left .arrow span
    {
        float: left;
    }

    #professional .left .arrow img
    {
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
}